html,body{
  width: 100%;
  height: 100%;
  background-color: #202024;
  font-family: 'Open Sans', sans-serif;
}

.main{
  margin: auto;
  text-align: center;
}

/* content group */
.content-group{
	background-image: url(https://d1a3f4spazzrp4.cloudfront.net/web-fresh/pattern-grid-dark@1x.gif);
  width: 570px;
	height: 108px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.content{
  padding: 10px 20px;
  border-top: 1px solid #1fbad6;
  border-bottom: 1px solid #1fbad6;
  width: 440px;
  margin: auto;
  position: relative;
	top: 18px;
}

.content-title{
  color: white;
  font-size: 24px;
  margin-bottom: 9px;
}

.content-desc{
  color: #1fbad6;
}

/* sudoku tables*/
.sudoku-container{
  width: 500px;
  height: 522px;
  padding-top: 20px;
  margin: auto;
  background-color: rgba(192,192,200,0.2);
  border: 1px solid #1fbad6;
}

.sudoku-table {
  display: table;
  margin: auto;
}

.sudoku-table.sub{
  border: 1px solid #e2e2e7;
}

.sudoku-tr{
  display: table-row;
}

.sudoku-td{
  display: inline-block;
  height: 163px;
}

.sudoku-row {
  display: table-row;
}

.sudoku-column {
  display: table-cell;
  border: 1px solid #636366;
  color: white;
  cursor: pointer;
  width: 48px;
  height: 53px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.sudoku-column.default{
	cursor: default;
}

.sudoku-column.error{
	border-color: #f32f00;
}

.sudoku-column input{
	border: 0px;
  background: transparent;
  width: 40px;
  outline: none;
  color: white;
  font-size: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: none;
  font-family: 'Open Sans', sans-serif;
}

.sudoku-column:hover{
  background-color: rgba(140,140,143,0.2);
  color: #26b4d4;
}

.sudoku-column.hover{
	background-color: rgba(140,140,143,0.2);
  color: #26b4d4;
}

/* game buttons */
.buttons-group{
  margin-top: 20px;
}

.restart-button, .check-button, .solve-button{
  background-color: #1fbad6;
  border-color: #1db6d1;
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  height: 42px;
  line-height: 42px;
  padding: 0 35px;
  text-shadow: 0 -1px rgba(0,0,0,.08);
  text-transform: uppercase;
  cursor: pointer;
}

.check-button, .solve-button{
  margin-left: 30px;
}

.restart-button:hover, .check-button:hover, .solve-button:hover{
  background-color: #3cc8e1;
}

